*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  align-items: flex-end;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: start;
}

.content__list {
  width: 394px;
  height: 534px;
  overflow: scroll;
  overflow-x: hidden;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fill;
}

.content__video-card-description-container {
  width: 100%;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.content__video-card-description{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

